<div class="offset-md-2 col-md-8 text-center list-wrapper">
  <h1 class="text-left list-title">Consultation</h1>
  <table class="table" style="margin-top: 30px;">
    <thead>
    <tr>
      <th class="title-md">SIREN</th>
      <th class="title-lg">DROIT</th>
      <th class="title-lg">MONTANT</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <!-- recuperer la date du transfert  -->
      <th> 332628171</th>
      <td>Transfert</td>
      <td> 5 € </td>
    </tr>
    <tr>
      <th>TOTAL</th>
      <td></td>
      <td> 5 €</td>
    </tr>
    </tbody>
  </table>
</div>

