.blkfr-sidebar {
  height: 100vh;
  background-color: #222d32 !important;
}

:host {
  position: fixed;
  width: 100%;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

div.custom-nav {
  width: 100%;
}
