<!-- Title & import button -->
<div class="container">
  <div class="section-title col-md-8">
    <div class="row">
      <div class="title col-md-6">
        <h2>{{ title }}</h2>
      </div>
      <div *ngIf="buttonName" class="col-md-6">
        <div class="myButton text-right">
          <button class="ui icon button" (click)="buttonClick()">
            <img class="myButtonIcon" src="{{ iconPath }}"/>
            {{ buttonName }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
